body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.profile-header {
    text-align: center;
    color: #0073b1;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

h1,h2, h3  {
    color: #bb86fc;
}

.profile-section {
    margin-bottom: 20px;
}

.profile-section h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #bb86fc;
}


.social-icons {
    display: flex;
    gap: 15px; /* Espacio entre los íconos */
    margin-top: 20px;
}

.social-icons a svg {
    width: 50px; /* Ajusta el tamaño del ícono */
    height: 50px;
    stroke: #ffffff; /* Color inicial del ícono */
    transition: stroke 0.3s ease; /* Transición suave para el color */
}

.social-icons a:hover svg {
    stroke: #520a83; /* Cambia el color al pasar el ratón */
}
