body {
    background-color: #1c1c1c;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1, h3 {
    font-family: 'Poppins', sans-serif;
}

.main-title {
    font-size: 48px;
    color: #9c51ff;
    text-align: center;
    margin: 30px 0;
    letter-spacing: 2px;
}

.container {
    width: 85%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.details {
    flex: 1.2;
    padding-right: 40px;
}

.profile {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #9c51ff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.dob {
    color: #bdbdbd;
    margin-top: 15px;
    font-size: 18px;
}

h3 {
    color: #f7c10c;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-text {
    color: #e0e0e0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact {
    margin-bottom: 30px;
}

.email {
    color: #9c51ff;
    text-decoration: none;
    font-weight: bold;
}

.email:hover {
    text-decoration: underline;
}


/* Se lo copie a luis jaj*/
.socials {
    display: flex;
    gap: 20px; /* Espacio entre los íconos */
    margin-top: 20px;
}

.socials a svg {
    width: 50px; /* Ajusta el tamaño del ícono */
    height: 50px;
    stroke: #9c51ff; /* Color inicial del ícono */
    transition: stroke 0.3s ease; /* Transición suave para el color */
    cursor: pointer;
}

.socials a:hover svg {
    stroke: #f7c10c; /* Cambia el color al pasar el ratón */
}
