body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    
}

.item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 30%;
    margin: 10px 0; /* Añade margen vertical entre los elementos */
}

.item h2 {
    margin-top: 0;
    color: #bb86fc; /* Color para los títulos */
}

.item p {
    color: #e0e0e0;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
